div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#square-box{
  background-color: rgb(255, 110, 110);
  border-radius: 7px;
  padding: 5px;
  padding-right: 10px;
}

#triangle-box{
  background-color: lightgreen;
  border-radius: 7px;
  padding: 5px;
  padding-right: 10px;

  margin-left: 10px;
}

#circle-box{
  background-color: cornflowerblue;
  border-radius: 7px;
  padding: 5px;
  padding-right: 10px;
  
  margin-left: 10px;
}

#star-box{
  background-color: burlywood;
  border-radius: 7px;
  padding: 5px;
  padding-right: 10px;
  
  margin-left: 10px;
}

#shape-selections{
  display: flex;
  margin-top: 5px;
  
}

#instructions{
  display: inline-block;
  background-color: lightgray;
  border-width: 1px;
  border-style: solid;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
}

#total-objects{
  display: flex;
}

#delete-mode{
  display: flex;
}

#random-mode {
  display: flex;
}

#gravity-mode {
  display: flex;
}